* {
  box-sizing: border-box; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }
  .container .row {
    margin: 0 5px; }
    .container .row:before, .container .row:after {
      content: "";
      display: block;
      clear: both; }
    .container .row [class*="col-"] {
      float: left;
      min-height: 1px;
      width: 100%;
      padding: 0 5px;
      margin-right: 2%; }
      .container .row [class*="col-"]:last-child {
        margin-right: 0%; }
    @media only screen and (min-width: 768px) {
      .container .row .col-1 {
        width: 6.5%; } }
    @media only screen and (min-width: 768px) {
      .container .row .col-2 {
        width: 15%; } }
    @media only screen and (min-width: 768px) {
      .container .row .col-3 {
        width: 23.5%; } }
    @media only screen and (min-width: 768px) {
      .container .row .col-4 {
        width: 32%; } }
    @media only screen and (min-width: 768px) {
      .container .row .col-5 {
        width: 40.5%; } }
    @media only screen and (min-width: 768px) {
      .container .row .col-6 {
        width: 49%; } }
    @media only screen and (min-width: 768px) {
      .container .row .col-7 {
        width: 57.5%; } }
    @media only screen and (min-width: 768px) {
      .container .row .col-8 {
        width: 66%; } }
    @media only screen and (min-width: 768px) {
      .container .row .col-9 {
        width: 74.5%; } }
    @media only screen and (min-width: 768px) {
      .container .row .col-10 {
        width: 83%; } }
    @media only screen and (min-width: 768px) {
      .container .row .col-11 {
        width: 91.5%; } }
    @media only screen and (min-width: 768px) {
      .container .row .col-12 {
        width: 100%; } }

.header__main-nav {
  height: 115px;
  color: #ffffff; }

.b-nav-fix {
  z-index: 9999;
  background: #000;
  height: 115px;
  position: fixed;
  width: 100%;
  transition: all 1s ease; }

.f-nav-fix {
  z-index: 9999;
  position: fixed;
  height: 115px;
  min-width: 1200px; }

.header__main-nav__menu li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 90px;
  margin-left: 1.5em;
  transition: all 1s ease; }
  .header__main-nav__menu li a {
    line-height: 115px;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff; }
  .header__main-nav__menu li a:before {
    content: "";
    position: absolute;
    width: 90px;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #11749e;
    visibility: hidden;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
  .header__main-nav__menu li a:hover:before {
    border-bottom: 5px solid #11749e;
    visibility: visible;
    transform: scaleX(1);
    -webkit-transform: scaleX(1); }
.header__main-nav__menu li:hover {
  opacity: 0.7;
  background: #333333;
  letter-spacing: 0.03rem; }

.header__main-nav__brand {
  width: 20%;
  line-height: 115px; }

.header__social {
  overflow: hidden;
  line-height: 115px; }
  .header__social i {
    margin-right: 20px; }

#section__header {
  background-image: url("../img/layer_96_opt.png");
  width: 100%;
  height: 1082px;
  background-size: cover;
  background-position: center; }

.header__jumbotron {
  margin-top: 115px;
  height: 450px;
  width: 100%; }
  .header__jumbotron h1 {
    margin: 0;
    padding-top: 225px;
    font-weight: bold;
    font-size: 110px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .header__jumbotron p {
    color: #11749E;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 12px;
    font-size: 24px; }

.section__bluebox {
  background: #11749E;
  width: 100%;
  height: 738px; }

.section__bluebox__slogan {
  position: relative;
  height: 340px;
  color: #ffffff;
  font-size: 2em;
  line-height: 340px;
  text-align: center; }
  .section__bluebox__slogan .section__bluebox__text__decor {
    position: absolute;
    top: 0;
    left: 40%;
    font-size: 7em;
    font-weight: 900;
    opacity: 0.2; }

.feature__box {
  height: 285px;
  position: relative;
  color: #ffffff; }
  .feature__box .circle__blue {
    position: absolute;
    top: 0;
    left: 25%;
    border-radius: 50%;
    background: #2e85aa;
    height: 140px;
    width: 140px; }
    .feature__box .circle__blue i {
      position: absolute;
      top: 33%;
      left: 33%; }
  .feature__box h3 {
    margin-top: 150px;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase; }
  .feature__box p {
    margin-top: 20px;
    font-weight: 200;
    font-size: 0.8em;
    text-align: justify; }

.news__area {
  height: 895px; }

.news__area-back-color-row01 {
  height: 447px;
  width: 100%;
  background: #222222; }

.news__area-back-img-row01 {
  position: absolute;
  right: 0;
  z-index: 0;
  background-image: url("../img/layer_88_opt.png");
  height: 447px;
  width: 770px;
  background-size: cover;
  background-position: center; }

.news__area-back-color-row02 {
  height: 450px;
  width: 100%;
  background: #f3f3f3; }

.news__area-back-img-row02 {
  position: absolute;
  left: 0;
  z-index: 0;
  background-image: url("../img/layer_86_opt.png");
  height: 447px;
  width: 770px;
  background-size: cover;
  background-position: center; }

.news__area__article01 {
  position: absolute;
  z-index: 1;
  color: #ffffff;
  width: 400px;
  padding-top: 80px; }
  .news__area__article01 h3 {
    text-transform: uppercase;
    padding-top: 10px;
    font-size: 18px; }
  .news__area__article01 p:first-child {
    font-weight: 200;
    font-size: 0.8em; }
  .news__area__article01 p {
    font-weight: 200;
    font-size: 0.8em;
    padding-top: 30px; }

.news__area__article02 {
  position: absolute;
  z-index: 1;
  width: 400px;
  padding-top: 80px;
  margin-left: 720px; }
  .news__area__article02 h3 {
    text-transform: uppercase;
    padding-top: 10px;
    font-size: 18px; }
  .news__area__article02 p:first-child {
    font-weight: 200;
    font-size: 0.8em; }
  .news__area__article02 p {
    font-weight: 200;
    font-size: 0.8em;
    padding-top: 30px; }

.blog__section {
  height: 1016px; }

.blog__section__slogan {
  position: relative;
  height: 270px;
  font-size: 2em;
  line-height: 270px;
  text-align: center;
  text-transform: uppercase; }
  .blog__section__slogan .blog__section__text__decor {
    position: absolute;
    top: 0;
    left: 44%;
    font-size: 7em;
    font-weight: 900;
    opacity: 0.2; }

.blog__section__text {
  font-size: 24px;
  text-align: center;
  margin-bottom: 80px; }

.blog__box {
  height: 600px; }
  .blog__box .blog__box__img {
    background-size: cover;
    background-position: center;
    height: 280px;
    width: 100%; }
  .blog__box .img-01 {
    background-image: url("../img/layer_60_opt.png"); }
  .blog__box .img-02 {
    background-image: url("../img/layer_61_opt.png"); }
  .blog__box .img-03 {
    background-image: url("../img/layer_62_opt.png"); }
  .blog__box h3 {
    margin-top: 45px;
    text-align: center;
    color: #11749E;
    font-weight: 600;
    font-size: 1em;
    text-transform: uppercase; }
  .blog__box p {
    margin-top: 20px;
    font-weight: 400;
    font-size: 0.9em;
    text-align: center; }

.quick__action {
  background: #11749E;
  width: 100%;
  height: 355px; }

.quick__action__box {
  padding-top: 100px;
  color: #ffffff; }
  .quick__action__box i {
    padding-top: 10px; }

.quick__action__text {
  height: 90px; }
  .quick__action__text p {
    padding-top: 10px;
    font-weight: 200;
    font-size: 0.9em; }

.key__features {
  background-image: url("../img/layer_50_opt.png");
  width: 100%;
  height: 845px;
  background-size: cover;
  background-position: center;
  color: #ffffff; }

.key__features__text h3 {
  text-transform: uppercase;
  padding-top: 225px;
  font-size: 18px; }
.key__features__text p {
  padding-top: 20px;
  font-weight: 200;
  font-size: 0.9em; }

.key__features__right {
  margin-top: 100px; }

.key__features__img {
  background-image: url("../img/layer_51_opt.png");
  height: 645px;
  background-size: 315px 645px;
  background-position: center;
  background-repeat: no-repeat; }

.key__features__info {
  padding-top: 70px; }

.box-01 {
  width: 370px; }

.box-02 {
  width: 400px; }

.box-03 {
  width: 430px; }

.key__features__info__blue {
  margin-bottom: 25px;
  height: 40px;
  background: #11749E; }
  .key__features__info__blue p {
    padding-left: 20px;
    line-height: 40px;
    text-transform: uppercase; }

.team {
  width: 100%;
  height: 945px; }

.team__slogan {
  position: relative;
  height: 270px;
  font-size: 2em;
  line-height: 270px;
  text-align: center;
  text-transform: uppercase; }
  .team__slogan .team__text__decor {
    position: absolute;
    top: 0;
    left: 44%;
    font-size: 7em;
    font-weight: 900;
    opacity: 0.2; }

.team__section__text {
  font-size: 24px;
  text-align: center;
  margin-bottom: 80px; }

.team__box {
  height: 500px; }
  .team__box .team__box__img {
    background-size: cover;
    background-position: center;
    height: 415px;
    width: 100%; }
  .team__box .team__img-01 {
    background-image: url("../img/layer_43_opt.png"); }
  .team__box .team__img-02 {
    background-image: url("../img/layer_42_opt.png"); }
  .team__box .team__img-03 {
    background-image: url("../img/layer_41_opt.png"); }
  .team__box .team__img-04 {
    background-image: url("../img/layer_40_opt.png"); }

.team__box__text {
  background: #ffffff;
  height: 50px;
  width: 215px;
  margin-left: 25px; }
  .team__box__text h3 {
    line-height: 50px;
    margin-top: -50px;
    text-align: center;
    color: #11749E;
    font-weight: 600;
    font-size: 1.2em;
    text-transform: uppercase; }
  .team__box__text p {
    margin-top: -10px;
    font-weight: 600;
    font-size: 1em;
    text-align: center; }

.contact__form {
  background-image: url("../img/layer_30_opt.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 850px;
  color: #ffffff; }

.contact__slogan {
  position: relative;
  margin-bottom: 70px;
  height: 270px;
  font-size: 2em;
  line-height: 270px;
  text-align: center;
  text-transform: uppercase; }
  .contact__slogan .contact__text__decor {
    position: absolute;
    top: 0;
    left: 44%;
    font-size: 7em;
    font-weight: 900;
    opacity: 0.2; }

.form__input {
  color: #ffffff;
  background: transparent;
  border: 1px solid #ffffff;
  padding-left: 10px;
  height: 45px;
  line-height: 45px;
  width: 100%; }

.form__input::placeholder {
  color: #ffffff; }

.form__message {
  margin-top: 40px;
  margin-bottom: 50px;
  padding: 10px 10px;
  color: #ffffff;
  background: transparent;
  border: 1px solid #ffffff;
  width: 100%;
  resize: vertical;
  overflow: auto; }

.form__message::placeholder {
  color: #ffffff; }

#button-contact {
  border: none;
  cursor: pointer;
  width: 225px;
  height: 65px;
  line-height: 65px;
  background-color: #11749E;
  box-shadow: none;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-left: 70px; }

.map {
  background-image: url("../img/layer_20_opt.png");
  width: 100%;
  height: 335px;
  background-size: cover;
  background-position: center; }

.footer__section {
  height: 110px;
  width: 100%;
  background: #222222; }

* {
  font-family: 'Open Sans', sans-serif; }

.float__left {
  float: left; }

.float__right {
  float: right; }

/*# sourceMappingURL=style.css.map */
