//blog section

.blog__section {
  height: 1016px;
}

//text slogan
.blog__section__slogan{
  position: relative;
  height: 270px;
  font-size: 2em;
  line-height: 270px;
  text-align: center;
  text-transform: uppercase;

  .blog__section__text__decor{
    position: absolute;
    top: 0;
    left: 44%;
    font-size: 7em;
    font-weight: 900;
    opacity: 0.2;
  }
}

  .blog__section__text {
    font-size: 24px;
    text-align: center;
    margin-bottom: 80px;
  }

.blog__box{
  height: 600px;

  .blog__box__img{
    background-size: cover;
    background-position: center;
    height: 280px;
    width: 100%;
  }

  .img-01 {
    background-image: url("../img/layer_60_opt.png");
  }

  .img-02 {
    background-image: url("../img/layer_61_opt.png");
  }

  .img-03 {
    background-image: url("../img/layer_62_opt.png");
  }

  h3{
    margin-top: 45px;
    text-align: center;
    color: #11749E;
    font-weight: 600;
    font-size: 1em;
    text-transform: uppercase;
  }
  p{
    margin-top: 20px;
    font-weight: 400;
    font-size: 0.9em;
    text-align: center;
  }
}