//fix classes
*{
  //font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

.float__left{
  float: left;
}

.float_right{
  float: right;
}

.borderbox {
  border: 1px solid red;
}